/* bootswatchテーマ */
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

/* Googleフォント */
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  font-family: 'Roboto', sans-serif;
}

/* ページ共通CSS */
.title-obi {
  background-color: cornflowerblue;
  color: white;
  padding: 0.5rem;
}
.whcolor {
  color: white;
}
.space {
  max-width: 960px;
  padding-top: 2rem;
}
.h1-font {
  font-size: 1.2rem;
}
.btn-set {
  padding: 0.5rem;
  text-align: center;
}
h5 {
  background-color:#dcdcdc;
  padding: 0.5rem;
}
.share-flex {
  padding: 0.0.0.20;  
}
.cardre {
    height:37rem;
}
/* レスポンシブ設定 */
@media screen and (max-width:480px) {
  img {
  width:100%;
  max-width: 100%;
  height: auto;
  }
  .cardre {
    height:auto;
}
}
.col-md-6.col-12{
  .row{
    .card{
      height: 27rem;
      .btn.btn-primary
      {
        position: absolute;
        bottom: 1rem;
      }
    }
  }
}