/* bootswatchテーマ */
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

/* Googleフォント */
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  font-family: 'Roboto', sans-serif;
}

/* ページ共通CSS */
.title-obi {
  background-color: cornflowerblue;
  color: white;
  padding: 0.5rem;
}
.whcolor {
  color: white;
}
.orcolor {
  color: #E98B2A;
  font-weight: bold;
}
p#link {
	color: lightgrey;
}
.space {
  max-width: 960px;
  padding-top: 2rem;
}
.h1-font {
  font-size: 1.2rem;
}
.menu-font {
  color: cornflowerblue;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1em;
}
.tifont {
  font-size: 1.2rem;
  color: cornflowerblue;
}
.btn-set {
  padding: 0.5rem;
  text-align: center;
}
h5 {
  background-color:#dcdcdc;
  padding: 0.5rem;
}
.share-flex {
  padding: 0.0.0.20;  
}
.cardre {
    height:37rem;
}
.imgb {
  padding-bottom: 0.5rem;
}
.imgcenter {
  margin:8em 0 auto;
}
.mgcenter {
  margin: 0 auto;
}
.box {
  margin: 0 auto;
  font-weight: bold;
  color: cornflowerblue;/*文字色*/
  background: #FFF;
  border: solid 3px cornflowerblue;/*線*/
  border-radius: 10px;/*角の丸み*/
  padding: 1em 1.5em 0 1.5em;
}
.box2 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px cornflowerblue;
}

/* レスポンシブ設定 */
@media screen and (max-width:480px) {
  img {
  width:100%;
  max-width: 100%;
  height: auto;
  }
  .cardre {
    height:auto;
}
}
.col-md-6.col-12{
  .row{
    .card{
      height: 27rem;
      .btn.btn-primary
      {
        position: absolute;
        bottom: 1rem;
      }
    }
  }
}